# COMMANDS
alias vim='/usr/local/Cellar/vim/8.0.0104/bin/vim'

# FOLDERS
alias dev='cd ~/dev'
alias dotfiles='dev; cd dotfiles'

# GIT
alias gc='git commit -m '
alias gch='git checkout '
alias gchm='git checkout master'
alias gd='git diff '
alias gds='git diff --stat'
alias gf='git fetch '
alias gl='git log'
alias gnb='git checkout -b '
alias gr='git rebase '
alias grom='git rebase origin/master'
alias gst='git status'
